
JuggleBot/Library/ArtifactDB
JuggleBot/Library/CurrentLayout-default.dwlt
JuggleBot/Library/ShaderCache/EditorEncounteredVariants
JuggleBot/Library/shadercompiler-UnityShaderCompiler.exe0.log
JuggleBot/Library/SourceAssetDB
JuggleBot/Library/StateCache/SceneView/1353e2-mainStage.json
